.imageHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(1.35) brightness(0.65)
}

.animationText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

.buttonMulai {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  margin-top: 15vh;
}

.buttonMulai:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.customMarginSection {
  margin: 2em 8em 2em 8em;
}

.layananImage {
  background-position: bottom center;
  background-size: cover;
  object-fit: cover;
  filter: contrast(1.35) brightness(0.65)
}

.layananImage:hover {
  background-position: bottom center;
  background-size: cover;
  object-fit: cover;
  filter: contrast(1.35) brightness(0.65) grayscale(100%);
}

.imageHover:hover {
  filter: grayscale(100%);
}

.layananText {
  position: relative;
  transform: translate(0, -120%);
  color: white;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid white;
}

.imageDecor {
  width: 150px;
  height: 150px;
}

.sosmedIcon {
  filter: grayscale(100%);
}

.sosmedIcon:hover {
  filter: grayscale(0);
}

@media (max-width: 720px) {
  .customMarginSection {
    margin: 30px 10px;
  }

  .animationText {
    font-size: 30px;
  }

  .buttonMulai {
    margin-top: 35vh;
  }
}